
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  } 
  
  .navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .navbar .logo img {
    height: 40px;
    margin-right: 1rem;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 1rem;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
   .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  } 
   
  